spring:
  datasource:
    url: jdbc:mysql://{DBMS_URL}/{DB_NAME}
    username:
    password:
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  liquibase:
    change-log: classpath:/sql/db.changelog-master.xml
